mixin navigation()
    .navigation.js-navigation
        +nav('main-nav', {
            'Мои работы': './portfolio.html',
            'Обо мне': './about.html',
            'Блог': './blog.html',
            'Авторизация': './'
        })