mixin popup()
    .popup#popup
        a.popup__wrapper.js-close-popup
        .popup-content
            p.popup-content__text
                span.status
            a.popup-content__close.js-close-popup Закрыть