.skills-list__item {
  margin-right: 35px;
  display: inline-block;
  @include phones() {
    margin-bottom: 2rem;
  }
  &:nth-child(4n) {
    margin-right: 0;
    @include tablets() {
      margin-right: 37px;
    }
  }
  @include desctop() {
    margin-right: 2rem;
  }
}
.skill {
  position: relative;
  &__title {
    position: absolute;
    @include centered(both);
    padding: 20px;
    color: $green;
    font-size: $smallFont;
    font-weight: $mediumFont;
    text-align: center;
  }
  &__circle {
    width: 120px;
    height: 120px;
    display: block;
    fill: none;
    stroke-width: 20;
    @include desctop() {
      width: 110px;
      height: 110px;
      stroke-width: 18;
    }
    @include phones() {
      width: 7.857rem;
      height: 7.857rem;
      stroke-width: 18;
    }
  }
}

.skills__circle-under {
  stroke: #dfdcd5;
  fill: none;
  @include desctop() {
    r:45;
  }
}

.skills__circle-above {
  stroke: $green;
  transition: all 1s;
  opacity: .93;
  stroke-dasharray: 0 360;
  @include desctop() {
    r:45;
    cy: 50%;
    cx: 60%;
  }
}

.skills-list__item.active {
  .skills__circle-above {
    &--10 {
      animation: i10 2s ease forwards;
    }
    &--20 {
      animation: i20 2s ease forwards;
      animation-delay: .5s;
    }
    &--30 {
      animation: i30 2s ease forwards;
      animation-delay: 1s;
    }
    &--40 {
      animation: i40 2s ease forwards;
    }
    &--50 {
      animation: i50 2s ease forwards;
      animation-delay: .5s;
    }
    &--60 {
      animation: i60 2s ease forwards;
      animation-delay: 1s;
    }
    &--70 {
      animation: i70 2s ease forwards;
      animation-delay: 1.5s;
    }
    &--80 {
      animation: i80 2s ease forwards;
    }
    &--90 {
      animation: i90 2s ease forwards;
      animation-delay: .5s;
    }
    &--100 {
      animation: i100 2s ease forwards;
      animation-delay: 1s;
    }
    &--bower {
      animation: bower 2s ease forwards;
      animation-delay: 1.5s;
    }
  }
}
.toSkills {

}

@keyframes i10 {
  from {
    stroke-dasharray: 0 360;
  }
  to {
    stroke-dasharray:36 360;
  }
}
@keyframes i20 {
  from {
    stroke-dasharray: 0 360;
  }
  to {
    stroke-dasharray: 72 360;
  }
}
@keyframes i30 {
  from {
    stroke-dasharray: 0 360;
  }
  to {
    stroke-dasharray: 108 360;
  }
}

@keyframes i40 {
  from {
    stroke-dasharray: 0 360;
  }
  to {
    stroke-dasharray: 144 360;
  }
}
@keyframes i50 {
  from {
    stroke-dasharray: 0 360;
  }
  to {
    stroke-dasharray: 180 360;
  }
}
@keyframes i60 {
  from {
    stroke-dasharray: 0 360;
  }
  to {
    stroke-dasharray: 216 360;
  }
}
@keyframes i70 {
  from {
    stroke-dasharray: 0 360;
  }
  to {
    stroke-dasharray: 252 360;
  }
}
@keyframes i80 {
  from {
    stroke-dasharray: 0 360;
  }
  to {
    stroke-dasharray: 288 360;
  }
}
@keyframes i90 {
  from {
    stroke-dasharray: 0 360;
  }
  to {
    stroke-dasharray: 324 360;
  }
}
@keyframes i100 {
  from {
    stroke-dasharray: 0 360;
  }
  to {
    stroke-dasharray: 360 360;
  }
}
@keyframes bower {
  from {
    stroke-dasharray: 0 360;
  }
  to {
    stroke-dasharray: 250 360;
  }
}
